body{
    width: 100%;
    height: 100vh;
    background: url("../img/flat-lay-arrangement-with-salad-box-sauce.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}
.form-group{
    margin-bottom:30px;
}

.form-btn{
    margin-bottom: 20px;
}